/* Base page */

html {
	background: $background;
	font-size: 62.5%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
	}

body {
	@extend .gamma;
	font-family: $font_primary;
	line-height: 1.5;
	color: $text_primary;
	font-style:  normal;
	font-weight: 400;

	@include small{
		@if($DEBUG == true){ @include breakpointdebug("Small media query fired") };
	}
	@include x-small{
		@if($DEBUG == true){ @include breakpointdebug("X-small media query fired") };
	}
	@include medium{
		@if($DEBUG == true){ @include breakpointdebug("Medium media query fired") };
	}
	@include large{
		@if($DEBUG == true){ @include breakpointdebug("Large media query fired") };
	}
	@include x-large{
		@if($DEBUG == true){ @include breakpointdebug("X-large media query fired") };
	}

	@include retina {
		// @if($DEBUG == true){ @include breakpointdebug("Retina media query fired") };
	}
}






.page-container {
	overflow: hidden;
	width: 100%;
	background-image: linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0) );
	@include small-only {
		padding: 1em;
	}
	@include x-small {
		padding: 1em 0;
	}
	@include medium {
		padding: 50px;
	}
	a {
		color: $text_link;
		border-bottom: 1px solid transparent;
		text-decoration: none;

		&:visited {
			color: lighten($text_link,5%);
		}

		&:hover,
		&:active {
			color: $text_link_active;
			border-color: $text_link_active;
		}
	}
}







.about-me {
	@extend .alpha;
	font-family: $font_primary;
}




.frontenders-header {
	@extend %element-heading;
}

.frontenders-caption {
	@extend %element-caption;
}

.frontenders-content {
	@extend %element-content;
}




.instagram-feed {
	padding: 20px 0 0;
	width: 100%;
	float: left;
	overflow: hidden;
	text-align: center;
	line-height: 0;
	box-shadow: 0 0 0 20px rgba(255,121,94,0.1), 0 0 0 40px rgba(255,121,94,0.1);
	margin: 40px 0 0;
}

.instagrams {
	padding: 0;

	@include small {
		width: 150%;
		margin-left: -25%;

	}
	@include medium-only {
		width: 120%;
		margin-left: -10%;
	}
	@include large {
		width: 110%;
		margin-left: -5%;
	}
}

.instagram-placeholder {
	display: inline-block;
	a {
		border: 0;
	}
}


.site-footer {
	@extend .zeta;
	color: $text_light;
	padding: 1em 0;

	a,
	a:visited {
		color: lighten($text_link,5%);
	}
	a:hover {
		color: $text_link;
	}
}
