$networks-item-height: 3rem;
$networks-bar-padding: .5rem;

.networks {
}

.networks__list {
  list-style-type: none;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.networks__item {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.networks__link {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: $networks-bar-padding;
  border: $networks-bar-padding solid white;
  line-height: normal;
  fill: white;

  &:hover {
    background-color: white;
    fill: salmon;
  }
}

.networks__icon {
  width: 2rem;
  height: 2rem;
  margin-left: $networks-bar-padding;
  vertical-align: bottom;
  fill: inherit;  
}
